/*$font-family-sans-serif: 'Abel', sans-serif;*/
$font-family-headers: 'Abril Fatface', cursive;
$headings-color:#fff;
$sidebar-color: #020230;
$tile-color: #7b88b6;
$input-color: #d6daef;
// change the $blue and $red variable
/*$blue: midnightblue;
$red: rgb(175, 35, 35);*/

// add a new variable $itFactory
/*$itFactory: #FA6432;*/

/*$enable-rounded: false;
$enable-shadows: true;
$body-bg: lighten($itFactory,40%);
$alert-border-width: 5px;*/
